body {
    color: #00F;
    background-color: #CFC;
    font-family: Georgia, Cambria, serif;
    font-size: 20px;
}

h1 {
    color: #F00;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 40px;
}

.boton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}